<!-- Section tittle -->
<!-- End Section tittle -->

<!-- Section Icon and small description become -->
<div class="row">
  <h1 class="title_h1_description">Join the Competition</h1>
  <center>
    <ul class="become__list">
      <li class="become__item_3">
        <div class="columns__content">
          <%= image_tag "design.svg", id: "svg_img" %>
          <p class="p_become">Get inspired by <a href="<%= themes_path %>">Banjara Culture</a><p>
          </div>
        </li>
        <li class="become__item_3">
          <div class="columns__content">
            <%= image_tag "design.svg", id: "svg_img" %>
            <p class="p_become">Read the <a href="<%= guide_path %>">Designer Guide</a><p>
            </div>
          </li>
          <li class="become__item_3">
            <div class="columns__content">
              <%= image_tag "upload.svg", id: "svg_img" %>
              <p class="p_become">Design and upload an outfit<p>
              </div>
            </li>
            <li class="become__item_3">
              <div class="columns__content">
                <%= image_tag "welcome.svg", id: "svg_img" %>
                <p class="p_become">Welcome to the Lumumba Tribe!<p>
                </div>
              </li>
            </ul>
          </center>

          <div class="row" style="margin-bottom: 75px;">
            <div class="buttons_become">
              <a href="<%= new_design_path %>" class="btn btn-lg button_orange button_become_right" style="margin: 0 10px;">
                <div class="button__text">Get Started</div>
              </a>
              <a href="<%= asset_path 'mannequin_lumumba.jpg'%>" class="btn btn-lg button_orange button_become_right" style="margin: 0 10px;">
                <div class="button__text">Download Mannequin</div>
              </a>
            </div>
          </div>

        </div>
        <!-- End Section Icon and small description become -->
