<%= form_for :design, url: designs_path, html: {class: "form ", multipart: true } do |f| %>

  <% if @design.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@design.errors.count, "error") %> prohibited
      this design from being saved:
    </h2>
    <ul>
      <% @design.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="dummy__wrapper" id="designs">
    <div class="row" style="text-align: center">
      <h1 class="title_h1" >Competition Application</h1>
    </div>

    <div class="row add-design-form">
      <div class="wrapper" id="formAdd">
        <h3>Your Outfit Design </h3>
        <hr/>
        <div class="form-group">
          <%= f.label :image, 'You can upload here the complete outfit sketch.', class: "control-label" %>
          <%= f.file_field :image, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :image_desc, "What is your design concept?", class: "control-label" %>
          <%= f.text_area :image_desc, class: "form-control", rows: "3", placeholder: "E.g The theme was set around winter that's why I used gray and blue colors. I tried to use garments that are warm and used leaves for the print design.", required: true %>
        </div>
      </div>

      <div class="wrapper" id="formAdd">
        <h3>First Garment Design</h3>
        <h4>Upload your flat pattern drawing below</h4>
        <div class="form-group">
          <%= f.label :first_garment_design, '"Garment 1" Picture', class: "control-label" %>
          <%= f.file_field :first_garment_design, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :first_garment_print_design, 'Details of Print and Design Picture', class: "control-label" %>
          <%= f.file_field :first_garment_print_design, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :first_garment_desc, "Description of the garment with specific references to the culture of the month, technical explanation and material description.", class: "control-label" %>
          <%= f.text_area :first_garment_desc, class: "form-control", rows: "3", placeholder: "E.g The theme was set around winter that's why I used gray and blue colors. I tried to use garments that are warm and used leaves for the print design.", required: true %>
        </div>
      </div>

      <div class="wrapper" id="formAdd">
        <h3>Second Garment Design</h3>
        <h4>Upload your flat pattern drawing below</h4>
        <div class="form-group">
          <%= f.label :second_garment_design, '"Garment 2" Picture', class: "control-label" %>
          <%= f.file_field :second_garment_design, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :second_garment_print_design, 'Details of Print and Design Picture', class: "control-label" %>
          <%= f.file_field :second_garment_print_design, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :second_garment_desc, "Description of the garment with specific references to the culture of the month, technical explanation and material description.", class: "control-label" %>
          <%= f.text_area :second_garment_desc, class: "form-control", rows: "3", placeholder: "E.g The theme was set around winter that's why I used gray and blue colors. I tried to use garments that are warm and used leaves for the print design.", required: true %>
        </div>
      </div>


      <div class="wrapper" id="formAdd">
        <h3>Third Garment Design</h3>
        <h4>Upload your flat pattern drawing below</h4>
        <div class="form-group">
          <%= f.label :third_garment_design, '"Garment 3" Picture', class: "control-label" %>
          <%= f.file_field :third_garment_design, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :third_garment_print_design, 'Details of Print and Design Picture', class: "control-label" %>
          <%= f.file_field :third_garment_print_design, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :third_garment_desc, "Description of the garment with specific references to the culture of the month, technical explanation and material description.", class: "control-label" %>
          <%= f.text_area :third_garment_desc, class: "form-control", rows: "3", placeholder: "E.g The theme was set around winter that's why I used gray and blue colors. I tried to use garments that are warm and used leaves for the print design.", required: true %>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <input type='button' id='hideshow' value='Add Model Design' class="btn button_orange">
      </div>

      <div id='model-design-view' style="display: none">
        <div class="wrapper">
          <h3>Model Design look</h3>

          <div class="form-group">
            <%= f.label :first_garment_model_design, 'First Garment Model Picture', class: "control-label" %>
            <%= f.file_field :first_garment_model_design, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= f.label :second_garment_model_design, 'Second Garment Model Picture', class: "control-label" %>
            <%= f.file_field :second_garment_model_design, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= f.label :third_garment_model_design, 'Third Garment Model Picture', class: "control-label" %>
            <%= f.file_field :third_garment_model_design, class: "form-control", required: true %>
          </div>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <div class="checkbox">
          <label>
            <%= f.check_box :competition, checked: (true unless @design.competition.in?([false, 'false', 0, '0'])) %> Include Design in the current competition
          </label>
        </div>
      </div>

      <div class="row" style="text-align:center">
        <div class="form-group">
          <%= f.submit "Submit Application", class: "btn btn-lg button_orange"%>
        </div>
      </div>
    </div>

  </div>

<% end %>

<br/>

<br/>

<script type="text/javascript">
$(document).ready(function(){
  $('#hideshow').on('click', function(event) {
    $('#model-design-view').show();
  });
});
</script>
