<div class="default-container">
  <div class="row theme-page-title">
    <h1>Design Description</h1>
  </div>
  <div class="row design-info-sect">
    <div class="col-lg-6">
      <div class="design-image">
        <%= image_tag @design.image %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="text-container">
        <div class="sect-margin">
          <h3 class="upcase lato b-margin-30">Description</h3>
          <p><%= @design.image_desc %>
            <p>
              <div class="like-icon">
                <%= link_to like_design_path(@design), method: :put do %>
                  <% if @design.liked_by current_user %>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                  <% end %>
                <% end %>
                <%= link_to unlike_design_path(@design), method: :put do %>
                  <i class="fa fa-thumbs-down" aria-hidden="true" style="color:#db3236"></i>
                <% end %>
              </div>
            </p>
          </p>
        </div>
        <div class="sect-margin">
          <h3 class="upcase lato">Share</h3>
          <p>
            <a href="#"><i class="fa fa-facebook social-icon"></i></a>
            <a href="#"><i class="fa fa-twitter social-icon"></i></a>
            <a href="#"><i class="fa fa-google-plus social-icon"></i></a>
            <a href="#"><i class="fa fa-pinterest social-icon"></i></a>
            <a href="#"><i class="fa fa-instagram social-icon"></i></a>
          </p>
        </div>
        <div class="sect-margin">
          <h3 class="upcase b-margin-30 lato">Designer</h3>
          <div class="row">
            <div class="col-lg-3 b-margin-30">
              <% if @design.user.image != "upload" %>
                <%= image_tag @design.user.image, class: "designer-img" %>
              <% elsif @design.user.status == "upload" %>
                <%= image_tag @design.user.image, class: "designer-img" %>
              <% else %>
                <div class="account-avatar-photo" ></div>
              <% end %>
            </div>
            <div class="col-lg-9 b-margin-30">
              <h3 class=""><%= @design.user.to_s %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<div class="container">
  <h3 class="upcase lato more">OUTFIT DETAILS</h3>
</div>

<div class="container">
  <div class="row">
    <div class="garment-section">
      <h2 class="lato">First Garment Details</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 garment">
      <a href="#" class="thumbnail">
        <%= image_tag @design.first_garment_print_design, class: "garment-img"%>
      </a>
      <div class="garment-desc">
        <%= @design.first_garment_desc %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 garment">
      <a href="#" class="thumbnail">
        <%= image_tag @design.first_garment_model_design, class: "garment-img"%>
      </a>
      <div class="garment-desc">
        <%= @design.first_garment_desc %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="garment-section">
      <h2 class="lato">Second Garment Details</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 garment">
      <a href="#" class="thumbnail">
        <%= image_tag @design.second_garment_print_design, class: "garment-img"%>
      </a>
      <div class="garment-desc">
        <%= @design.first_garment_desc %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 garment">
      <a href="#" class="thumbnail">
        <%= image_tag @design.second_garment_model_design, class: "garment-img"%>
      </a>
      <div class="garment-desc">
        <%= @design.second_garment_desc %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="garment-section">
      <h2 class="lato">Third Garment Details</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 garment">
      <a href="#" class="thumbnail">
        <%= image_tag @design.third_garment_print_design, class: "garment-img"%>
      </a>
      <div class="garment-desc">
        <%= @design.first_garment_desc %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 garment">
      <a href="#" class="thumbnail">
        <%= image_tag @design.third_garment_model_design, class: "garment-img"%>
      </a>
      <div class="garment-desc">
        <%= @design.third_garment_desc %>
      </div>
    </div>
  </div>
</div>
