<div class="default-container">

  <%= render "home/countdown_timer" %>

  <div class="row contestants">
    <% @designs.each do |design| %>
    <div class="col-sm-6 col-md-4 product">
      <div class="thumbnail thumbnail-custom">
        <img src="<%= asset_path design.image_url(:product) %>" alt="" />
        <div class="caption">
          <div class="product-detail">
            <span class="product-title">
              <a href="<%= user_path design.user.slug %>">
                <%= design.user.first_name%> <%= design.user.last_name%>
              </a>
            </span>
            <span class="product-price">
              <%= link_to like_design_path(design), method: :put do %>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <% end %>
            </span>
          </div>
          <div class="cart-button">
            <%= design.get_upvotes.size %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
