<% if user_signed_in? %>
  <div class="default-container">
    <ul class="nav nav-tabs nav-justified secondary-nav">
      <li role="presentation"><a href="<%= leaderbord_path %>">Leaderboard</a></li>
      <li role="presentation"><a href="<%= prize_path %>">Prize</a></li>
      <li role="presentation"><a href="<%= new_design_path %>">New Design</a></li>
      <li role="presentation"><a href="<%= guide_path %>">Design Guide</a></li>
      <li role="presentation"><a href="<%= brand_ambassadors_path %>" style="border-right-styl: none;">Brand Ambassadors</a></li>
    </ul>

    <div class="row" style="margin: 50px 0;">
      <%= render "countdown_timer" %>
    </div>
  </div>
<% else %>
  <div class="competition-prompt">
    <div class="competition-instruction">
      <p>Welcome to Lumumba. Join us and you will be able to check and vote in the competition. Are you a designer? Register and request to join the competition."</p>
      <p>
        <a href="<%= new_user_registration_path%>" class="btn btn-lg button_orange" style="margin: 5px 20px">Sign Up</a>
        <a href="<%= root_path %>" class="btn btn-lg button_orange" style="margin: 5px 20px">Home</a>
      </p>
    </div>
  </div>
<% end %>
