<% if user_signed_in? %>
  <div class="default-container">
  <ul class="nav nav-pills nav-justified secondary-nav">
    <li role="presentation"><a href="<%= leaderbord_path %>">Leaderboard</a></li>
    <li role="presentation"><a href="<%= prize_path %>">Prize</a></li>
    <li role="presentation"><a href="<%= new_design_path %>">New Design</a></li>
    <li role="presentation"><a href="<%= guide_path %>">Design Guide</a></li>
  </ul>

    <div class="row contestants">
      <% @designs.each do |design| %>
        <div class="col-xs-12 col-md-3">
          <div class="thumbnail thumbnail-custom">
            <img src="<%= asset_path design.image_url(:product) %>" alt="" />
            <div class="caption">
              <div class="row design-detail">
                <p class="designer-name">
                  <a href="<%= design_path design %>">
                    <%= design.user.to_s %>
                  </a>
                </p>
                <span class="like-design">
                  <%= render 'designs/vote', design: design %>
                </span>
              </div>

              <div class="design-votes">
                <%= design.votes.count %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="competition-prompt">
    <div class="competition-instruction">
      <p>Welcome to Lumumba. Join us and you will be able to check and vote in the competition. Are you a designer? Register and request to join the competition."</p>
      <p>
        <a href="<%= new_user_registration_path%>" class="btn btn-lg button_orange" style="margin: 5px 20px">Sign Up</a>
        <a href="<%= root_path %>" class="btn btn-lg button_orange" style="margin: 5px 20px">Home</a>
      </p>
    </div>
  </div>
<% end %>
