<div class="login-wrapper">
<div class="row login">
    <h3>Log in to your account</h3>

      <%= render "devise/shared/social_media_buttons"%>

    <div class="divider">
      <span class="or-text">OR</span>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <div class="input-group">
          <%= f.label :email, class: "control-label sr-only"%>
          <span class="input-group-addon field-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
      </div>

      <div class="field form-group">
        <div class="input-group">
          <%= f.label :password, class: "control-label sr-only" %>
          <span class="input-group-addon field-icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>
      <p></p>
      <div class="action">
        <%= f.submit "Log in", class: 'btn btn-large btn-primary btn-block' %>
      </div>
    <% end %>

    <a href="<%= new_registration_path(resource_name) %>" class="form-fotter">
      New to Lumumba? &nbsp;<span>Sign Up</span>
    </a>
    </div>
    <div class=" row login-utility">
      <%= render "devise/shared/links" %>
    </div>
</div>
