<div class="default-container">
  <div class="row winners">
    <%= render "latest_products"%>
  </div>
  <div class="row products" id="products" style="margin-top: 75px;">
    <div class="row">
      <% @products.each do |product| %>
      <div class="col-sm-6 col-md-4 product">
        <div class="thumbnail thumbnail-custom">
          <img src="<%= asset_path product.main_image_url(:product) %>" alt="" />
          <div class="caption">
            <div class="product-detail">
              <span class="product-title">
                <a href="/products/<%= product.id %>">
                  <h5><%= product.name[1...10] %></h5>
                </a>
              </span>
              <% if product.in_stock?(1) %>
                <span class="product-price">
                  € <%= product.price %>
                </span>
              <% else %>
                <span class="product-price">
                  Out of stock
                </span>
              <% end %>
            </div>
            <a href="/products/<%= product.id %>" class="btn button_blue cart-button" role="button">DETAILS </a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
