<div class="default-container">
  <div class="row" style="margin-bottom: 75px">
    <div class="col-md-8 col-sm-12 product-images" style="margin-bottom: 25px">
        <%= render "product_images"%>
    </div>

    <div class="col-md-4 col-sm-12 product-info">
      <div class="row prod-title">
        <%= @product.name %>
      </div>
      <div class="prod-details">
        <%= simple_form_for @order_item, url: product_order_items_path(@product), html: {class: "form "} do |f| %>
        <% if @order_item.errors.any? %>
          <div class="alert fade in alert-danger">
            <h2>
              Looks like there are <%= pluralize(@order_item.errors.count, "error") %>:
            </h2>
            <ul>
              <% @order_item.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <% if @product.in_stock?(1) %>
        
          <div> Stock: <%= @product.stocks.count %>/<%= @product.initial_stock %> </div><br/>
          
          <dl class="product__param-list">
          <dt class="product__param-title">Size</dt>
          <dd class="product__param-value sizes">
          </dd>
          
          <div class="form-group">
            <%= f.select :size, OrderItem::SIZES, class: "form-control" %>
          </div>

          <br>
          <dt class="product__param-title">Quantity</dt>
          <%= f.select :quantity, OrderItem::QUANTITIES.map{|a| [a] }, { :class => 'form__select' }%>
          <div class="row prod-price">
            € <%= @product.price %>
          </div>
          <div class="row add-to-cart">
            <%= f.button :submit, class: 'button button_blue', value: 'Add to Cart', data: {disable_with: 'Add to Cart'} %>
          </div>
        
        <% else %>
          <h3>
            Out of stock
          </h3>
        <% end %>
        
        <% end %>
      </div>
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Description</a></li>
          <li><a href="#">About Designer</a></li>
          <li><a href="#">About Lumumba</a></li>
      </ul>
    <br>
      <p class="product__desc"> <%= @product.description %></p>
      </div>
    </div>
  </div>
</div>
